{% load i18n %}
<section class="container mx-auto py-16">
    <h3 class="text-center px-2 text-4xl lg:text-6xl font-semibold dark:text-gray-300">{{ self.title }}</h3>
    <h4 class="text-center px-2 text-3xl lg:text-4xl font-semibold py-4  dark:text-gray-300">{{ self.subtitle }}</h4>
    <div class="px-4 lg:px-32 2xl:px-64 py-8">
        {% for timelineItem in self.items %}
            <div class="relative pl-8 sm:pl-32 py-6 group">
                <!-- Purple label -->
                <div class="font-caveat font-medium text-2xl text-indigo-500 mb-1 sm:mb-0">
                    {% trans timelineItem.title_secondary %}
                </div>
                <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                    <time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full">{% trans timelineItem.marker_caption %}</time>
                    <div class="text-xl font-bold text-slate-900 dark:text-gray-200">{% trans timelineItem.title_primary %}</div>
                </div>
                <!-- Content -->
                <div class="text-slate-500">{% trans timelineItem.content %}</div>
            </div>
        {% endfor %}
    </div>
</section>
