{% extends "socialaccount/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    <div class="min-h-screen h-auto py-8">
        {% if process == "connect" %}
            <h1 class="text-3xl text-center dark:text-gray-100 font-semibold">
                {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
            </h1>
            <p class="text-center text-lg dark:text-gray-100 py-4">
                {% blocktrans with provider.name as provider %}You are about to connect a new third-party account from {{ provider }}.{% endblocktrans %}
            </p>
        {% else %}
            <h1 class="text-3xl text-center dark:text-gray-100 font-semibold">
                {% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}
            </h1>
            <p class="text-center text-lg dark:text-gray-100 py-4">
                {% blocktrans with provider.name as provider %}You are about to sign in using a third-party account from {{ provider }}.{% endblocktrans %}
            </p>
        {% endif %}
        <form action="." method="post" class="w-full sm:w-48 mx-auto absolute bottom-1 sm:relative ">
            {% csrf_token %}
            <button type="submit"
                    class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                {% trans 'Continue' %}
            </button>
        </form>
    </div>
    {% comment %}
{% if process == "connect" %}
{% element h1 %}
    {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
{% endelement %}
<p>
    {% blocktrans with provider.name as provider %}You are about to connect a new third-party account from {{ provider }}.{% endblocktrans %}
</p>
{% else %}
{% element h1 %}
    {% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}
{% endelement %}
<p>
    {% blocktrans with provider.name as provider %}You are about to sign in using a third-party account from {{ provider }}.{% endblocktrans %}
</p>
{% endif %}
{% element form method="post" no_visible_fields=True %}
{% slot actions %}
    {% csrf_token %}
    {% element button type="submit" %}
        {% trans "Continue" %}
    {% endelement %}
{% endslot %}
{% endelement %}
    {% endcomment %}
{% endblock content %}
