{% extends "wagtailadmin/base.html" %}
{% load tailwind_tags %}
{% block titletag %}Client Assesments{% endblock %}
{% block extra_css %}
    {{ block.super }}
    {% tailwind_css %}
{% endblock %}
{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Asessments" icon="table" %}
    <div class="nice-padding">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="p-4">
                            <div class="flex items-center">
                                <input id="checkbox-all-search"
                                       type="checkbox"
                                       class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="checkbox-all-search" class="sr-only">checkbox</label>
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">Favorite Activity</th>
                        <th scope="col" class="px-6 py-3">Training Hours / Week</th>
                        <th scope="col" class="px-6 py-3">Main Goal</th>
                        <th scope="col" class="px-6 py-3">Eating Habits</th>
                        <th scope="col" class="px-6 py-3">Meal Frequency</th>
                        <th scope="col" class="px-6 py-3">Energy Levels</th>
                        <th scope="col" class="px-6 py-3">Sleep Quality</th>
                        <th scope="col" class="px-6 py-3">Stress Management</th>
                    </tr>
                </thead>
                <tbody>
                    {% if submissions %}
                        {% for submission in submissions %}
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <td class="w-4 p-4">
                                    <div class="flex items-center">
                                        <input id="checkbox-table-search-1"
                                               type="checkbox"
                                               class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                                    </div>
                                </td>
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{ submission.get_favorite_activity_display }}
                                </th>
                                <td class="px-6 py-4">{{ submission.get_weekly_training_hours_display }}</td>
                                <td class="px-6 py-4">{{ submission.get_main_fitness_goal_display }}</td>
                                <td class="px-6 py-4">{{ submission.get_eating_habits_level_display }}</td>
                                <td class="px-6 py-4">{{ submission.get_preferred_meal_frequency_display }}</td>
                                <td class="px-6 py-4">{{ submission.get_energy_level_slumps_display }}</td>
                                <td class="px-6 py-4">{{ submission.get_sleep_quality_display }}</td>
                                <td class="px-6 py-4">{{ submission.get_sleep_quality_display }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="100">
                                <p class=" text-lg lg:text-2xl py-2 px-2 text-left lg:text-center">
                                    There are no Assesment entries to display yet. Come back at a later time.
                                </p>
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
