{% extends 'assesments/base.html' %}
{% block content %}
    <div class="container-fluid relative min-h-screen mx-auto">
        <div class="w-full lg:h-4 h-2 bg-gray-200  rounded-r-full  dark:bg-gray-700 absolute top-0 left-0 transition-[height] ease-in-out duration-700"
             x-data="assesmentProgress"
             @progress-updated.window="adjustProgressBar"
             x-cloak>
            <div class="lg:h-4 h-2 w-[0px] bg-blue-600 rounded-r-full dark:bg-blue-500 transition-[width] ease-in-out duration-700"
                 :style="{ width : `${progressPercentage}%` }"></div>
        </div>
        <div class="pt-4 px-2 sm:px-0">
            <form action=""
                  class="sm:w-[500px] w-full mx-auto"
                  x-data="assesmentForm"
                  x-cloak>
                {% csrf_token %}
                
                {% comment %}
                {{ form }}
                {% endcomment %}
                
                
                {% for field in form %}
                    <div  x-wizard:step>
                        {{field}}
                    </div>    
                {% endfor %}
                    
                
                <div x-ref="controllsContainer" class=" flex flex-col ">
                    <button type="button"
                            class="h-10 px-5 m-1 text-purple-100 text-lg font-semibold transition-colors duration-150 bg-purple-600 rounded-lg focus:shadow-outline hover:bg-purple-700"
                            @click="goToNextStep"
                            :disabled="$wizard.cannotGoForward()"
                            x-show="showContinueButton()">Continue</button>
                    <button type="button"
                            class="h-10 px-5 m-1 text-purple-100 text-lg font-semibold transition-colors duration-150 bg-purple-600 rounded-lg focus:shadow-outline hover:bg-purple-700"
                            @click="goToPreviousStep"
                            :disabled="$wizard.cannotGoBack()"
                            x-show="$wizard.isNotFirst()">Back</button>
                    <button type="submit"
                            class="h-10 px-5 m-1 text-purple-100 text-lg font-semibold transition-colors duration-150 bg-purple-600 rounded-lg focus:shadow-outline hover:bg-purple-700"
                            :disabled="$wizard.isNotComplete()"
                            x-show="$wizard.isLast()">Get Results</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
{% block extra_js %}
    <script type="text/javascript">
        document.addEventListener('alpine:init', () => {
           Alpine.data('assesmentProgress' ,() => (
            {
                progressPercentage : 2,
                adjustProgressBar($event){
                    this.progressPercentage = $event.detail;
                }

            }
           ));
           Alpine.data('assesmentForm', () => (
            {
                'favorite_activity' : '',
                'weekly_training_hours' : '',
                'main_fitness_goal' : '',
                'eating_habits_level' : '',
                'preferred_meal_frequency' : '',
                'sleep_quality' : '',
                'stress_management_style' : '',
                'meat_preferences' : [],
                'vegetable_preferences' : [],

                registerRadioButtonsEvents(radioNodes){
                    /* We are registering click events to all radio buttons 
                       This way user can advance through the wizard by only selecting a radio option
                    */
                    if(!radioNodes){
                        return;
                    }
                    radioNodes.forEach(node => {
                        node.addEventListener('click', (event) =>{
                            this.goToNextStep();
                        })
                    })
                },
                showContinueButton(){
                   const { el:element } = this.$wizard.current();
                   if(this.stepContainsRadioInputs(element)){
                        return false;
                   }
                   console.log(this.$wizard.isNotLast());
                   return this.$wizard.isNotLast();
                },
                stepContainsRadioInputs(step){
                    if(step.querySelectorAll("input[type='radio']").length){
                        return true;
                    }
                    return false;
                },
                goToNextStep(){
                    console.log(this.$wizard.current().el.querySelectorAll("input[type='radio']"))
                    this.$wizard.forward();
                    this.$dispatch("progress-updated" , this.$wizard.progress().percentage_int);
                },
                goToPreviousStep(){
                    this.$wizard.back();
                    this.$dispatch("progress-updated" , this.$wizard.progress().percentage_int);
                },
                init(){
                    this.$nextTick(() => {  this.$dispatch("progress-updated" , this.$wizard.progress().percentage_int );});
                    this.$nextTick(() => {   console.log(this.$wizard.current().el);});
                    radioElements = document.querySelectorAll("input[type='radio']");
                    
                    this.registerRadioButtonsEvents(radioElements);
                }
            }
           ));
        })
    </script>
{% endblock extra_js %}
