anyascii==0.3.2
arrow==1.3.0
asgiref==3.7.2
beautifulsoup4==4.11.2
binaryornot==0.4.4
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cookiecutter==2.5.0
cryptography==42.0.5
cssbeautifier==1.14.11
defusedxml==0.7.1
Django==5.0.1
django-allauth==0.61.1
django-cogwheels==0.3
django-comments-xtd==2.9.13
django-contrib-comments==2.2.0
django-debug-toolbar==4.3.0
django-filter==23.5
django-modelcluster==6.2.1
django-permissionedforms==0.1
django-taggit==4.0.0
django-tailwind==3.8.0
django-treebeard==4.7.1
django-widget-tweaks==1.5.0
djangorestframework==3.14.0
djlint==1.34.1
docutils==0.20.1
draftjs-exporter==2.1.7
EditorConfig==0.12.4
et-xmlfile==1.1.0
filetype==1.2.0
gevent==24.2.1
greenlet==3.0.3
gunicorn==21.2.0
html-tag-names==0.1.2
html-void-elements==0.1.0
html5lib==1.1
idna==3.6
Jinja2==3.1.3
jsbeautifier==1.14.11
json5==0.9.14
l18n==2021.3
laces==0.1.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
oauthlib==3.2.2
openpyxl==3.1.2
packaging==23.2
pathspec==0.12.1
pillow==10.2.0
pillow-heif==0.14.0
psycopg2-binary==2.9.6
pycparser==2.21
Pygments==2.17.2
PyJWT==2.8.0
python-dateutil==2.8.2
python-slugify==8.0.3
python3-openid==3.2.0
pytz==2024.1
PyYAML==6.0.1
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.7.0
ruff==0.2.1
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
telepath==0.3.1
text-unidecode==1.3
tqdm==4.66.2
types-python-dateutil==2.8.19.20240106
tzdata==2023.4
urllib3==2.2.0
wagtail==6.0
wagtail-modeladmin==2.0.0
wagtailmenus==3.1.9
webencodings==0.5.1
Willow==1.6.3
zope.event==5.0
zope.interface==6.2
