{% load static wagtailcore_tags wagtailimages_tags wagtailsettings_tags wagtailuserbar tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if page.seo_title %}
                    {{ page.seo_title }}
                {% else %}
                    {{ page.title }}
                {% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        {% get_settings %}
        {% image settings.home.SiteSettings.fav_icon fill-32x32-c100 as logo %}
        <link rel="shortcut icon" type="image/jpg" href="{{ logo.url }}" />
        {% if page.search_description %}<meta name="description" content="{{ page.search_description }}" />{% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}<base target="_blank">{% endif %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"
                defer></script>

                
        {# Global stylesheets #}
        {% tailwind_preload_css %}
        {% tailwind_css %}
        <style>
            [x-cloak] { display: none !important; }
        </style>
        {% block extra_css %}{% endblock %}
    </head>
    <body class="{% block body_class %}bg-primary dark:bg-slate-800{% endblock %}">
        {% include 'includes/header.html' %}
        {% wagtailuserbar %}
        {% block content %}{% endblock %}
        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/fitnesssite.js' %}" defer></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        {% block extra_js %}{# Override this in templates to add extra javascript #}{% endblock %}
        {% include 'includes/footer.html' %}
    </body>
</html>
