{% extends 'base.html' %}
{% load wagtailimages_tags %}
{% block content %}
    <div class="min-h-screen lg:container mx-auto px-4 xl:px-6">
        <h1 class="text-4xl dark:text-white font-semibold text-center py-6 pt-4  md:pt-12 ">{{ self.custom_title }}</h1>
        <h1 class="text-2xl dark:text-white font-semibold text-center pb-8">
            {% if filtered_category %}
                {{ filtered_category }} Category
            {% else %}
                All Posts
            {% endif %}
        </h1>
        <div class="grid sm:gap-2 gap-y-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
            {% for post in posts %}
                {% image post.banner_image fill-300x200 as postImage %}
                <div class="max-w-xs bg-white border mx-auto border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="{{ post.url }}">
                        <img class="rounded-t-lg w-full h-48"
                             src="{{ postImage.url }}"
                             alt="{{ postImage.alt }}"
                             height="{{ postImage.height }}"
                             width="{{ postImage.width }}" />
                    </a>
                    <div class="p-5">
                        <span class="dark:text-white">{{ post.last_published_at|date:"M d, Y" }}</span>
                        <a href="#">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ post.custom_title }}</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                            Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
                        </p>
                        <a href="{{ post.url }}"
                           class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Read more
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                                 aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                            </svg>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
