{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    <div class="min-h-screen h-auto">
        <h1 class="text center text-3xl dark:text-gray-100">{% trans "Change Password" %}</h1>
        <p class="text-center dark:text-gray-100">{% trans 'Your password is now changed.' %}</p>
    </div>
{% endblock content %}
{% comment %}
{% element h1 %}
{% trans "Change Password" %}
{% endelement %}
<p>{% trans 'Your password is now changed.' %}</p>
{% endcomment %}
