{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    <div class="min-h-screen h-auto">
        <h1 class="text-3xl font-semibold text-center py-16 dark:text-gray-100">
            {% if token_fail %}
                {% trans "Bad Token" %}
            {% else %}
                {% trans "Change Password" %}
            {% endif %}
        </h1>
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>
                {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
            </p>
        {% else %}
            <form action="{{ action_url }}" method="post" class="flex flex-col gap-y-6 max-w-xl mx-auto px-2 sm:px-0">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div>
                    <label for="{{ form.password1.html_name }}"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        {{ form.password1.label }}
                    </label>
                    <input type="password"
                           name="{{ form.password1.html_name }}"
                           id="id_{{ form.password1.html_name }}"
                           class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           placeholder="********"
                           {% if form.password1.field.required %}required{% endif %} />
                </div>
                <div>
                    <label for="{{ form.password2.html_name }}"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        {{ form.password2.label }}
                    </label>
                    <input type="password"
                           name="{{ form.password2.html_name }}"
                           id="id_{{ form.password2.html_name }}"
                           class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           placeholder="********"
                           {% if form.password2.field.required %}required{% endif %} />
                </div>
                <button type="submit"
                        class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    {% trans 'Reset Password' %}
                </button>
            </form>
        {% endif %}
    </div>
{% endblock content %}
{% element h1 %}
{% endelement %}
{% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>
        {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
    </p>
{% else %}
    {% element form method="post" action=action_url %}
    {% slot body %}
    {% csrf_token %}
    {% element fields form=form %}
{% endelement %}
{% endslot %}
{% slot actions %}
{% element button type="submit" name="action" %}
{% trans 'Change Password' %}
{% endelement %}
{% endslot %}
{% endelement %}
{% endif %}
